<!-- 
<main>
  <section>
    <h1>Don't Let Your Memes Be Dreams</h1>
    <img src="#" alt="lorem"/>
    <button>Fresh Meme</button>
  </section>
</main> -->

<!-- Meme info -->
<!-- 
  Requirements: 500px 500px, src & alt tags
-->
<img src="https://images3.memedroid.com/images/UPLOADED360/5afc04f864a2f.jpeg" alt="Blind dog staring at a wall thinking it's a window" />

<img src="https://images3.memedroid.com/images/UPLOADED50/5afc0e603d197.jpeg" alt="Meme: It sucks when I read read as read and not read, so I have to re-read read as read so I can read read correctly and it can make sense">

<img src="https://images3.memedroid.com/images/UPLOADED27/5afc0e65d6de6.jpeg" alt="A meme displaying a bible on sale, titled signed copy edition">

<img src="https://images3.memedroid.com/images/UPLOADED452/5afbdffc3a9ef.jpeg" alt="Meme: A picture showing a blad man in high heels titled, 'When Mr. Clean switched to Fabuloso'">

<img src="https://images3.memedroid.com/images/UPLOADED154/5afbaece2836c.jpeg" alt="Image of a bird attempting to sing and then being abruptly interuppted by another bird singing 'Despacito'">

<!-- 
  Grab current img src when clicking button and store that value somewhere
    src and alt will need to be jsx expressions that store current vals
 -->